<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
        <h3 class="text-primary"><b>About (Help and FAQs)</b></h3>
        <h4 style="color:rgb(156, 18, 115);"><b>My Profile</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>"My Profile" tab shows your profile. People visit it a lot after reading your story to get the 
                feeling of your personality or how you are.</li>
            <li>Please keep your profile updated and be honest to it.</li>
            <li>Your profile has a very strong connection with your stories/experiences (that you share) and depicts the real you.</li>
            <li>There is deafult profile picture provided when you create an account but you can change it with your actual one.</li>
            <li>You can update your gender in case you have created account using any social account like Google, Facebook, Twitter or Github.</li>
            <li><u>Something Interesting:</u> You can write about something interesting happening in your life or something which you find cool or amazing
            about yourself. It can be funny too !</li>
            <li><u>Hobbies:</u> You can write about hobby(ies) (something you are passionate about) and can discuss in brief. This may ease others 
            of same passion to connect with you.</li>
            <li><u>Short Description:</u> it’s open. Write anything.. may be about your journey of life or your dance class or how did you 
            manage to get out of that wierd situation or how do you like to annoy ur friends... :)</li>
        </ul>
        <h4 style="color:rgb(156, 18, 115);"><b>Stories</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>Add a new story with an appropriate short title and write about it. Though there is no restriction on content’s length but try to keep it short to maintain the reader’s interest.</li>
            <li>All stories are public because it’s about sharing and helping each other.</li>
            <li>Optionally you can add a photo/video in a story. Currently only one photo/video is allowed to attach with maximum size of 10 MB for a video.</li>
            <li>A story can be edited after creating it.</li>
            <li>One can search a story based on it’s title, using searchbox located at the top in "Stories", "My Stories" and "My Collection" tabs.  </li>
        </ul>
        <h4 style="color:rgb(156, 18, 115);"><b>Appreciate a Story</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>If you want to appreciate a story, you can do it by selecting "Appreciate" option available within blue-colored icon located at top-right corner of each story.</li>
            <li>Similarly, one can mark a story as “Inspiring” if he/she feels so, by selecting respective icon from above mentioned blue icon. 
                Also you can choose Interesting, Favorite and other available options.</li>
            <li>If you wish, you can add a story to your collection for future reference. The page "My Collection" shows your collection and 
                is hidden from others, even friends cannot access it. So you can safely keep your collection forever , add whatever you wish.
                Your collection is private to yourself.</li>
        </ul>
        <h4 style="color:rgb(156, 18, 115);"><b>Comments</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>You can express your feelings in textbox provided at the bottom of each story and can edit them too.</li>
            <li>Like stories, a comment can also be marked as Favorite, Inspiring, Interesting and can be appreciated.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>My Stories</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>You can see all your stories in "My Stories" tab.</li>
            <li>A new story can also be created here and is editable too.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Notifications</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>When someone express his/her feelings on your story or mark it as Favorite or Inspiring, you recieve a notification.</li>
            <li>Similarly, you recieve notifications when someone appreciates your comment or mark it as Inspiring, Favorite or Interesting.</li>
            <li><u>Note</u> - When you add someone’s story to your collection, he/she will get notification about it but won’t be able to access your collection. 
                The notification is to let him/her know that there is actually someone who is listening to him/her.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>My Collection</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>The "My Collection" tab shows all stories that you have added to your collection.</li>
            <li>Your collection is private to you, only you can access it.</li>
            <li>When you add a story in your collection, it may not always appear at the top of the list beacuse stories are stacked according to their
                time of creation. An easy way to look for a story is just by typing it's title in the searchbox provided at the top
            of the page.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Friends</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>You can add friends, if you wish to. If you like someone’s story and want to connect with him/her, you can send a friend request
                by visiting his/her profile. I wish, you could find the people you’re looking for.</li>
            <li>Being a friend or not, doesn’t stop anyone from visiting someone’s profile  beacuase the intention is to connect and share with each other.</li>
            <li>Only you can see your friends.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Reachout Messages</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>If you are inspired by someone’s story and want to reach out to him/her (or want to help him/her), you can send a message to him/her 
                by clicking blue-colored notification icon present above profile-picture at top-right corner in his/her profile page.</li>
            <li>When you recieve a reach-out message, the notification icon turns yellow. You can click the message to read it and 
                can reply to it by clicking "Visit profile" button and sending a new reach-out message to that person.</li>
            <li>You must regularly visit your profile page to check if there are any reach-out messages to you.</li>
            <li>If you and other person agree, you can share your contact details using reach-out messages, 
                however Little Lights doesn’t provide any detail(s) about any user to anybody else. 
                The only way it’s possible is if you provide them by yourself.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Gallery</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>Gallery page shows photos/videos associated to your stories, and currently only you can access them. 
                You can add new photos/ videos but won’t be accessible to others.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Saftey</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>Don’t worry about your data, beacuse every story is publicly open and accessible (for application users). Instead, I wish if your story can change 
                someone’s mind to stop doing wrong and take on right path.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>General Issues</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>In case, there is some problem with creating/editing a story, you can delete it and create a new one.</li>
            <li>In case, application is not responding, or screen looks distorted, please refresh the page or logout and login again. 
                And if problem persists send us an email at littlelightsU@gmail.com.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>About Little Lights</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>Little Lights is a lighter application to share stories/experiences.</li>
            <li><u>Intention</u> - The Intetion of Little Lights is to bring people closer, to know about each other and learn and share. 
                Irrespective of what we are or where we belong to, we all are connected and lets appreciate it.</li>
        </ul>
        
        <h4 style="color:rgb(156, 18, 115);"><b>Contact Us</b></h4>
        <ul style="color:rgb(89, 18, 156);">
            <li>Again, you can send your queries, reviews, problems or any advice at littlelightsU@gmail.com. 
                I would love to hear them and learn more about application.</li>
        </ul>
    </div>
</div>


<!-- <button class="btn btn-default btn-md">
        <button class="btn btn-sm" style="background-color:rgb(255, 0, 128)">
            <button class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-ice-lolly"></span>
            </button>
        </button>
    </button>
    <button class="btn btn-default btn-md">
            <button class="btn btn-sm" style="background-color:rgb(255, 0, 128)">
                <button class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-ice-lolly"></span><span class="glyphicon glyphicon-ice-lolly-tasted"></span>
                </button>
            </button>
        </button>
    <button class="btn btn-default btn-md">
        <button class="btn btn-sm btn-warning">
            <button class="btn btn-xs" style="background-color:rgb(255, 0, 128)">
                <span class="glyphicon glyphicon-ice-lolly"></span>
            </button>
        </button>
    </button> -->