<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
        <h3>{{user.displayName}}       
            <div *ngIf="notifyBell" style="margin-top:5px;margin-bottom:2px;"
                    class="btn btn-warning btn-xs pull-right dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-ice-lolly"></span>                
            </div>
            <!-- <audio id="idSoundBell" src="../../../assets/audio/what-friends-are-for.m4r" controls="controls">play</audio> -->
                <div *ngIf="!notifyBell" style="margin-top:5px;margin-bottom:2px;" 
                    class="btn btn-default btn-xs pull-right dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-ice-lolly"></span>                   
            </div>
            <ul class="dropdown-menu pull-right" id="ddnNotifications">
                <li *ngFor="let notify of userAllNotifications | async" (click)="notifiesViewed(notify)">
                    <a *ngIf="notify.status == 'pending'" style="cursor: pointer;background-color:#428bca;color: #ffffff;">
                        {{notify.text}}
                    </a>
                    <a *ngIf="notify.status == 'completed'" style="cursor: pointer;color: #333333;
                    background-color: #ffffff;">
                        {{notify.text}}
                    </a>
                </li>
            </ul>
        </h3>
    </div>
</div>
<div class="row" #divShowStories id="divShowStories">
    <div id="divUserPosts" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="custom-alert alert-danger text-center">
            <div class="input-group" style="height:20px;">
                <input type="text" [(ngModel)]="searchText"  class="form-control text text-alert" 
                id="txtFilterPost" (keyup)="onSearchTextChange()" placeholder="search story.."/>
                <span class="input-group-addon" (click)="searchStory()">
                    <span class="glyphicon glyphicon-search"></span>              
                </span>
                <div class="pull-right">
                    <button type="button" id="btnNewPost"  (click)="reseNewPostForm()" class="btn btn-warning">
                        <span class="glyphicon glyphicon-send"></span> New</button>
                </div>        
            </div>
        </div>
        <div id="btnRefreshStories" *ngIf="!searchText" style="margin-bottom: 3px;color: #ffffff;" (click)="fetchNewStories()" 
            class="btn btnPostFloating btn-xs">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </div>
        <div *ngIf="upload">
            <div class="progress">
                <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width' : upload?.progress + '%' }">
                    Progress: {{upload?.progress}}% completed
                </div>
            </div>
        </div>
        <div *ngIf="amazon" class="panel panel-default" id="modalNewPostAmazon" >            
            <div class="panel-heading">
                <span class="text text-primary">New Story</span>
            </div>
            <div class="panel-body">
                <form class="form" [formGroup]="myForm" (ngSubmit)="createPost(f.value)" #f="ngForm">
                    <span data-toggle="modal" (click)="showAttachmentContainer()" data-target="#modalAddNewPhotos" class="btn btn-warning btn-xs pull-right">
                        <span class="glyphicon glyphicon-camera"></span>
                    </span>
                    <div class="form-group">  
                        <label for="Username">Title:</label>
                        <textarea type="text" required style="height: 60px;" [formControl]="myForm.controls['title']" maxlength="80"
                            placeholder="Title" class="form-control" id="newPostTitle"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <div *ngIf="hasAttachments" style="margin-bottom: 3px;">
                            <img style="display: none;" id="previewImage" style="max-height:80px;max-width:80px;min-height:10px;min-width:10px;" [src]="">
                            <video id="previewVideo" class="tn img-responsive img-rounded"
                                style="display: none;max-height: 200px;padding-left: 3px;padding-right: 3px;" controls>                                                                     
                            <source [src]="" type="video/webm">  
                                <source [src]="" type="video/mp4">                                 
                            </video>
                        </div>
                        <textarea type="text" required  style="height: 120px;" [formControl]="myForm.controls['content']" class="form-control" id="newPostContent" 
                            placeholder="What's on your mind..">
                            <br />
                        </textarea>
                    </div>
                    <div class="form-group" style="margin-top:10px;">                            
                        <button class="btn btn-success" id="btnCreatePost" [disabled]="!myForm.valid" type="submit">
                            Create</button>
                        <span class="btn btn-primary" type="button" (click)="newPostFormCancel()" id="btnCancelPost">
                            Cancel</span>                                
                    </div>
                </form>
            </div>
        </div>
        <div class="modal" id="modalAddNewPhotos" style="margin-top: 15px;" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add picture or video</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <input type="file" id="inputFiles" class="btn btn-default" (change)="handleFiles($event)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnUploadFiles" style="display: none; " class="btn btn-primary" data-dismiss="modal"
                            (click)="addMediaforNewPost()">Add</button>
                        <button id="btnCancelUploadFiles" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:3px;" #divPostsContainer id="idDivPostsContainer3" *ngIf="searchText">
            <div class="panel panel-default" [id]="post.postUID"
                *ngFor="let post of userSearchedPosts | async" style="border-color: rgb(190, 30, 129);border-width: 2px;">            
                <div class="panel-heading alert-warning" 
                [ngStyle]="{'background-color':post.enlightenedStoryCount > 0 ? 'rgb(190, 30, 129)' : '',
                'color': post.enlightenedStoryCount > 0 ? '#ffffff' : '' }">
                    <div class="input-group-btn pull-right">
                        <span class="btn btn-primary dropdown-toggle" (click)="checkFeatureAvailable(post)" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </span>
                        <ul class="dropdown-menu" id="ddnPost">
                            <li *ngIf="!isFabMeStory" (click)="markStoryFavorite(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-heart"></span></span> Favorite</a></li>
                            <li *ngIf="!isInterestingStory"  (click)="markStoryInteresting(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-info"><span class="glyphicon glyphicon-ice-lolly-tasted"></span></span> Interesting</a></li>
                                <li *ngIf="!isSympathisingStory"  (click)="markStorySympathising(post)"><a style="cursor: pointer;">
                                    <span class="btn btn-xs" style="background-color: rgb(62, 231, 73);"><span class="glyphicon glyphicon-tree-deciduous"></span></span> Sympathise</a></li> 
                            <li *ngIf="!isInspiringStory"  (click)="storyInspiredMe(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-grain"></span></span> Inspiring</a></li>
                            <li *ngIf="!isAppreciateStory"  (click)="appreciateStory(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-success"><span class="glyphicon glyphicon-leaf"></span></span> Appreciate</a></li>
                            <li *ngIf="!isEnlightenedStory"  (click)="enlightenStory(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs" style="background-color: rgb(233, 85, 188)"><span class="glyphicon glyphicon-lamp"></span></span> Enlighten</a></li>
                            <li *ngIf="post.authorUID != user.uid && !isAddedToCollection"  (click)="addStoryToCollection(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs" style="background-color: brown;"><span class="glyphicon glyphicon-briefcase"></span></span> Add to Collection</a></li>
                            <li class="btn-warning" *ngIf="post.authorUID != user.uid && isAddedToCollection && isInspiringStory && isEnlightenedStory && isFabMeStory">
                                <a style="cursor: pointer;">
                                <span class="glyphicon glyphicon-hand-right"></span> You feel it compeletly</a>
                            </li>
                            <li *ngIf="post.authorUID == user.uid"><a style="cursor: pointer;" (click)="initiatePostEditing(post)">
                                <span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></span> Edit</a></li>
                            <li *ngIf="post.authorUID == user.uid"><a style="cursor: pointer;"
                                (click)="deletePost(post.postUID, post.authorUID, post.imageKey,post.imageName, post.videoKey,post.videoName)">
                                <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Delete</a>
                            </li>
                        </ul>
                    </div>
                    <span><b>{{post.title}}</b></span>                 
                </div>
                <div class="panel-body">
                    <a [routerLink]="['/dashboard/friend-profile', post.authorUID + 'false']">
                        <img src={{post.authorPic}} class="pull-left img img-circle" 
                        style="height: 25px;width: 25px;border-radius: 10%;" />
                        <span class="pull-left" style="margin-left:2px;">{{  post.authorName}}</span>
                    </a>
                    <span class="pull-right">{{post.createdAt}}</span>
                    <hr />
                    <div *ngIf="post.imageURL" style="margin-bottom: 3px;">
                        <a [routerLink]="['/image', post.imageKey + 'yuiop' + post.authorUID]" >
                            <img id="idImage" style="max-height:150px;max-width:200px;" [src]="post.imageURL">
                        </a>
                    </div>
                    <div *ngIf="post.videoURL" style="margin-bottom: 3px;">
                        <video id="idVideo" class="tn img-responsive img-rounded"
                        style="max-height: 200px;padding-left: 3px;padding-right: 3px;" controls>                           
                            <source [src]="post.videoURL" type="video/webm">                             
                            <source [src]="post.videoURL" type="video/MOV">   
                            <source [src]="post.videoURL" type="video/mp4">                             
                        </video>
                    </div>
                    <p style="white-space: pre-wrap;">{{post.content}}</p>
                    <!-- editing post section -->
                    <div *ngIf="amazonEditPost == post.postUID" id="modalEditPost">
                        <div class="panel-header text-primary">
                            <h4 class="modal-title">Edit Post</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form" [formGroup]="myEditPostForm" (ngSubmit)="editPost(etitle.value, econtent.value)" #f="ngForm">
                                <div class="form-group">
                                    <label for="Username">Title:</label>
                                    <input type="text" #etitle style="height: 60px;" [formControl]="myEditPostForm.controls['title']" maxlength="80" placeholder="Title"
                                    class="form-control" [(ngModel)]="editPostTitle" [value]="editPostModel ? editPostModel.title : ''" />
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea type="text" #econtent [(ngModel)]="editPostContent" style="height: 120px;" [formControl]="myEditPostForm.controls['content']" class="form-control"
                                    [value]="editPostModel ? editPostModel.content : ''"></textarea>
                                </div>
                                <div class="form-group" style="margin-top:10px;">                            
                                    <button class="btn btn-warning" [disabled]="!myEditPostForm.valid" type="submit">
                                        Save</button>
                                    <span class="btn btn-primary" (click)="editPostFormCancel()" type="button" id="btnCancelEditPost">
                                        Cancel</span>                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
                <div id="divPostFooter" class="panel-footer">
                    <span class="pull-right" style="margin-right: 4px;">
                        <span *ngIf="post.inspiringStoryCount > 0" class="btn btn-warning btn-xs" style="margin:1px;">
                            <span class="glyphicon glyphicon-grain"></span> {{post.inspiringStoryCount}}
                        </span>
                        <span *ngIf="post.appreciateStoryCount > 0" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-leaf"></span> {{post.appreciateStoryCount}}
                        </span>
                        <span *ngIf="post.interestingStoryCount > 0" class="btn btn-info btn-xs" style="margin:1px;">
                            <span class="glyphicon glyphicon-ice-lolly-tasted"></span> {{post.interestingStoryCount}}
                        </span>
                        <span *ngIf="post.sympathisingStoryCount > 0" class="btn btn-xs" style="margin:1px;background-color: rgb(62, 231, 73);">
                            <span class="glyphicon glyphicon-tree-deciduous"></span> {{post.sympathisingStoryCount}}
                        </span>
                        <span *ngIf="post.fabMeStoryCount > 0" class="btn btn-danger btn-xs" style="margin:1;">
                            <span class="glyphicon glyphicon-heart"></span> {{post.fabMeStoryCount}}
                        </span> 
                    </span>     
                    <div class="input-group" style="border: none;">
                        <span *ngIf="post.commentsCount == 0">it's awesome</span>
                        <span *ngIf="post.commentsCount == 1">{{post.commentsCount}} person feels it</span>
                        <span *ngIf="post.commentsCount > 1">{{post.commentsCount}} people feel it</span>                                           
                    </div>
                    <span *ngIf="post.commentsCount > 0" (click)="getCommentsforPost(post.postUID)" 
                        id="divShowComments">See Comments..</span>
                    <div *ngFor="let comment of post_Comments | async">
                        <div *ngIf="comment.postUID == post.postUID">
                            <a [routerLink]="['/dashboard/friend-profile', comment.authorUID + 'false']">
                                <img src={{comment.authorPic}} class="pull-left img img-circle" 
                                        style="height: 25px;width: 25px;border-radius: 10%;" />
                                <span class="pull-left" style="margin-left:2px;">{{  comment.authorName}}</span>
                            </a>
                            <span class="pull-right">{{comment.createdAt}}</span>
                            <hr /><div class="input-group-btn pull-right">
                                    <span class="btn btn-warning btn-xs dropdown-toggle" (click)="checkCommentFeatureAvailable(comment,post)" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </span>
                                    <ul class="dropdown-menu" id="ddnComment">
                                        <li *ngIf="!isFabMeComment"><a style="cursor: pointer;" (click)="markCommentfavorite(comment, post)">
                                            <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-heart"></span></span> Favorite</a>
                                        </li>
                                        <li *ngIf="!isInterestingComment"><a style="cursor: pointer;" (click)="markInterestingComment(comment, post)">
                                            <span class="btn btn-xs btn-info"><span class="glyphicon glyphicon-ice-lolly-tasted"></span></span> Interesting</a>
                                        </li>
                                        <li *ngIf="!isInspiringComment"><a style="cursor: pointer;" (click)="markInspiringComment(comment, post)">
                                                <span class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-grain"></span></span> Inspiring</a>
                                            </li>
                                        <li *ngIf="!isAppreciateComment"><a style="cursor: pointer;" (click)="appreciateComment(comment, post)">
                                            <span class="btn btn-xs btn-success"><span class="glyphicon glyphicon-leaf"></span></span> Appreciate</a>
                                        </li>
                                        <li  *ngIf="comment.authorUID == user.uid"><a style="cursor: pointer;" (click)="initiateCommentEditing(comment, post)">
                                            <span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></span> Edit</a></li>
                                        <li *ngIf="comment.authorUID == user.uid"><a style="cursor: pointer;" (click)="deleteComment(comment, post)">
                                            <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Delete</a></li>
                                    </ul>
                                </div>
                                <span class="pull-right" style="margin-right: 10px;">                                       
                                    <span *ngIf="comment.inspiringCommentCount > 0" class="btn btn-xs btn-warning" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-grain"></span> {{comment.inspiringCommentCount}}</span>                                       
                                    <span *ngIf="comment.appreciateCommentCount > 0" class="btn btn-xs btn-success" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-leaf"></span> {{comment.appreciateCommentCount}}</span>                                        
                                    <span *ngIf="comment.interestingCommentCount > 0" class="btn btn-xs btn-info" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-ice-lolly-tasted"></span> {{comment.interestingCommentCount}}</span>
                                    <span *ngIf="comment.fabMeCommentCount > 0" class="btn btn-xs btn-danger" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-heart"></span> {{comment.fabMeCommentCount}}</span>  
                                </span>
                            <p>{{comment.text}}</p>
                            <div *ngIf="amazonComment == comment.commentUID" id="modalEditCommentAmazon" >
                                <form class="form" [formGroup]="myCommentForm" (ngSubmit)="editComment(formComment.value)" #formComment="ngForm">
                                    <div class="form-group">
                                        <textarea type="text" required [formControl]="myCommentForm.controls['commentText']" class="form-control"
                                        id="editCommentText" [value]="editCommentModel ? editCommentModel.text : ''"></textarea>
                                    </div>
                                    <div style="margin-top:10px;">                            
                                        <button class="btn btn-warning" [disabled]="!myCommentForm.valid"  type="submit">
                                            Save</button>
                                        <span class="btn btn-primary" (click)="cancelCommentEditing()" id="btnCancelEditComment">
                                            Cancel</span>                                
                                    </div>
                                </form>                                        
                            </div>                                
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2px;">
                        <input [(ngModel)]="post.newComment" type="text" class="form-control form-control-sm" id="comment" 
                            placeholder="your feelings.." (keyup.enter)="postNewComment(newComment.value, post)" #newComment>
                        <span *ngIf="post.newComment"  class="input-group-btn">
                            <button class="btn btn-primary" (click)="saveComment(newComment.value, post)" type="button">Go!</button>
                        </span>
                    </div>
                </div>           
            </div>
            <div class="text text-primary">Clear the searchbox to see all stories</div>
        </div>
        <div #divPostsContainer id="idDivPostsContainer1" *ngIf="!searchText">
            <div class="panel panel-default" [id]="post.postUID"
                *ngFor="let post of userPosts | async" style="border-color: rgb(190, 30, 129);border-width: 2px;">            
                <div class="panel-heading alert-warning" 
                [ngStyle]="{'background-color':post.enlightenedStoryCount > 0 ? 'rgb(190, 30, 129)' : '',
                'color': post.enlightenedStoryCount > 0 ? '#ffffff' : '' }">
                    <div class="input-group-btn pull-right">
                        <span class="btn btn-primary dropdown-toggle" (click)="checkFeatureAvailable(post)" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </span>
                        <ul class="dropdown-menu" id="ddnPost">
                            <li *ngIf="!isFabMeStory" (click)="markStoryFavorite(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-heart"></span></span> Favorite</a></li>
                            <li *ngIf="!isInterestingStory"  (click)="markStoryInteresting(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-info"><span class="glyphicon glyphicon-ice-lolly-tasted"></span></span> Interesting</a></li>
                            <li *ngIf="!isSympathisingStory"  (click)="markStorySympathising(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs" style="background-color: rgb(62, 231, 73);"><span class="glyphicon glyphicon-tree-deciduous"></span></span> Sympathise</a></li>    
                            <li *ngIf="!isInspiringStory"  (click)="storyInspiredMe(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-grain"></span></span> Inspiring</a></li>
                            <li *ngIf="!isAppreciateStory"  (click)="appreciateStory(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs btn-success"><span class="glyphicon glyphicon-leaf"></span></span> Appreciate</a></li>
                            <li *ngIf="!isEnlightenedStory"  (click)="enlightenStory(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs" style="background-color: rgb(233, 85, 188)"><span class="glyphicon glyphicon-lamp"></span></span> Enlighten</a></li>
                            <li *ngIf="post.authorUID != user.uid && !isAddedToCollection"  (click)="addStoryToCollection(post)"><a style="cursor: pointer;">
                                <span class="btn btn-xs" style="background-color: brown;"><span class="glyphicon glyphicon-briefcase"></span></span> Add to Collection</a></li>
                            <li class="btn-warning" *ngIf="post.authorUID != user.uid && isAddedToCollection && isInspiringStory && isEnlightenedStory && isFabMeStory">
                                <a style="cursor: pointer;">
                                <span class="glyphicon glyphicon-hand-right"></span> You feel it compeletly</a>
                            </li>
                            <li *ngIf="post.authorUID == user.uid"><a style="cursor: pointer;" (click)="initiatePostEditing(post)">
                                <span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></span> Edit</a></li>
                            <li *ngIf="post.authorUID == user.uid"><a style="cursor: pointer;"
                                (click)="deletePost(post.postUID, post.authorUID, post.imageKey,post.imageName, post.videoKey,post.videoName)">
                                <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Delete</a>
                            </li>
                        </ul>
                    </div>
                    <span><b>{{post.title}}</b></span>                 
                </div>
                <div class="panel-body">
                    <a [routerLink]="['/dashboard/friend-profile', post.authorUID + 'false']">
                        <img src={{post.authorPic}} class="pull-left img img-circle" 
                        style="height: 25px;width: 25px;border-radius: 10%;" />
                        <span class="pull-left" style="margin-left:2px;">{{  post.authorName}}</span>
                    </a>
                    <span class="pull-right">{{post.createdAt}}</span>
                    <hr />
                    <div *ngIf="post.imageURL" style="margin-bottom: 3px;">
                        <a [routerLink]="['/image', post.imageKey + 'yuiop' + post.authorUID]" >
                            <img id="idImage" style="max-height:150px;max-width:200px;" [src]="post.imageURL">
                        </a>
                    </div>
                    <div *ngIf="post.videoURL" style="margin-bottom: 3px;">
                        <video id="idVideo" class="tn img-responsive img-rounded"
                        style="max-height: 200px;padding-left: 3px;padding-right: 3px;" controls>                           
                            <source [src]="post.videoURL" type="video/webm">                             
                            <source [src]="post.videoURL" type="video/MOV">   
                            <source [src]="post.videoURL" type="video/mp4">                             
                        </video>
                    </div>
                    <p style="white-space: pre-wrap;">{{post.content}}</p>
                    <!-- editing post section -->
                    <div *ngIf="amazonEditPost == post.postUID" id="modalEditPost">
                        <div class="panel-header text-primary">
                            <h4 class="modal-title">Edit Post</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form" [formGroup]="myEditPostForm" (ngSubmit)="editPost(etitle.value, econtent.value)" #f="ngForm">
                                <div class="form-group">
                                    <label for="Username">Title:</label>
                                    <input type="text" #etitle style="height: 60px;" [formControl]="myEditPostForm.controls['title']" maxlength="80" placeholder="Title"
                                    class="form-control" [(ngModel)]="editPostTitle" [value]="editPostModel ? editPostModel.title : ''" />
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea type="text" #econtent [(ngModel)]="editPostContent" style="height: 120px;" [formControl]="myEditPostForm.controls['content']" class="form-control"
                                    [value]="editPostModel ? editPostModel.content : ''"></textarea>
                                </div>
                                <div class="form-group" style="margin-top:10px;">                            
                                    <button class="btn btn-warning" [disabled]="!myEditPostForm.valid" type="submit">
                                        Save</button>
                                    <span class="btn btn-primary" (click)="editPostFormCancel()" type="button" id="btnCancelEditPost">
                                        Cancel</span>                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
                <div id="divPostFooter" class="panel-footer">
                    <span class="pull-right" style="margin-right: 4px;">
                        <span *ngIf="post.inspiringStoryCount > 0" class="btn btn-warning btn-xs" style="margin:1px;">
                            <span class="glyphicon glyphicon-grain"></span> {{post.inspiringStoryCount}}
                        </span>
                        <span *ngIf="post.appreciateStoryCount > 0" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-leaf"></span> {{post.appreciateStoryCount}}
                        </span>
                        <span *ngIf="post.interestingStoryCount > 0" class="btn btn-info btn-xs" style="margin:1px;">
                            <span class="glyphicon glyphicon-ice-lolly-tasted"></span> {{post.interestingStoryCount}}
                        </span>
                        <span *ngIf="post.sympathisingStoryCount > 0" class="btn btn-xs" style="margin:1px;background-color: rgb(62, 231, 73);">
                            <span class="glyphicon glyphicon-tree-deciduous"></span> {{post.sympathisingStoryCount}}
                        </span>
                        <span *ngIf="post.fabMeStoryCount > 0" class="btn btn-danger btn-xs" style="margin:1;">
                            <span class="glyphicon glyphicon-heart"></span> {{post.fabMeStoryCount}}
                        </span> 
                    </span>     
                    <div class="input-group" style="border: none;">
                        <span *ngIf="post.commentsCount == 0">it's awesome</span>
                        <span *ngIf="post.commentsCount == 1">{{post.commentsCount}} person feels it</span>
                        <span *ngIf="post.commentsCount > 1">{{post.commentsCount}} people feel it</span>                                           
                    </div>
                    <span *ngIf="post.commentsCount > 0" (click)="getCommentsforPost(post.postUID)" 
                        id="divShowComments">See Comments..</span>
                    <div *ngFor="let comment of post_Comments | async">
                        <div *ngIf="comment.postUID == post.postUID">
                            <a [routerLink]="['/dashboard/friend-profile', comment.authorUID + 'false']">
                                <img src={{comment.authorPic}} class="pull-left img img-circle" 
                                        style="height: 25px;width: 25px;border-radius: 10%;" />
                                <span class="pull-left" style="margin-left:2px;">{{  comment.authorName}}</span>
                            </a>
                            <span class="pull-right">{{comment.createdAt}}</span>
                            <hr /><div class="input-group-btn pull-right">
                                    <span class="btn btn-warning btn-xs dropdown-toggle" (click)="checkCommentFeatureAvailable(comment,post)" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </span>
                                    <ul class="dropdown-menu" id="ddnComment">
                                        <li *ngIf="!isFabMeComment"><a style="cursor: pointer;" (click)="markCommentfavorite(comment, post)">
                                            <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-heart"></span></span> Favorite</a>
                                        </li>
                                        <li *ngIf="!isInterestingComment"><a style="cursor: pointer;" (click)="markInterestingComment(comment, post)">
                                            <span class="btn btn-xs btn-info"><span class="glyphicon glyphicon-ice-lolly-tasted"></span></span> Interesting</a>
                                        </li>
                                        <li *ngIf="!isInspiringComment"><a style="cursor: pointer;" (click)="markInspiringComment(comment, post)">
                                                <span class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-grain"></span></span> Inspiring</a>
                                            </li>
                                        <li *ngIf="!isAppreciateComment"><a style="cursor: pointer;" (click)="appreciateComment(comment, post)">
                                            <span class="btn btn-xs btn-success"><span class="glyphicon glyphicon-leaf"></span></span> Appreciate</a>
                                        </li>
                                        <li  *ngIf="comment.authorUID == user.uid"><a style="cursor: pointer;" (click)="initiateCommentEditing(comment, post)">
                                            <span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></span> Edit</a></li>
                                        <li *ngIf="comment.authorUID == user.uid"><a style="cursor: pointer;" (click)="deleteComment(comment, post)">
                                            <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></span> Delete</a></li>
                                    </ul>
                                </div>
                                <span class="pull-right" style="margin-right: 10px;">                                       
                                    <span *ngIf="comment.inspiringCommentCount > 0" class="btn btn-xs btn-warning" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-grain"></span> {{comment.inspiringCommentCount}}</span>                                       
                                    <span *ngIf="comment.appreciateCommentCount > 0" class="btn btn-xs btn-success" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-leaf"></span> {{comment.appreciateCommentCount}}</span>                                        
                                    <span *ngIf="comment.interestingCommentCount > 0" class="btn btn-xs btn-info" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-ice-lolly-tasted"></span> {{comment.interestingCommentCount}}</span>
                                    <span *ngIf="comment.fabMeCommentCount > 0" class="btn btn-xs btn-danger" style="margin-right: 1px;margin-left: 1px;">
                                        <span class="glyphicon glyphicon-heart"></span> {{comment.fabMeCommentCount}}</span>  
                                </span>
                            <p>{{comment.text}}</p>
                            <div *ngIf="amazonComment == comment.commentUID" id="modalEditCommentAmazon" >
                                <form class="form" [formGroup]="myCommentForm" (ngSubmit)="editComment(formComment.value)" #formComment="ngForm">
                                    <div class="form-group">
                                        <textarea type="text" required [formControl]="myCommentForm.controls['commentText']" class="form-control"
                                        id="editCommentText" [value]="editCommentModel ? editCommentModel.text : ''"></textarea>
                                    </div>
                                    <div style="margin-top:10px;">                            
                                        <button class="btn btn-warning" [disabled]="!myCommentForm.valid"  type="submit">
                                            Save</button>
                                        <span class="btn btn-primary" (click)="cancelCommentEditing()" id="btnCancelEditComment">
                                            Cancel</span>                                
                                    </div>
                                </form>                                        
                            </div>                                
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2px;">
                        <input [(ngModel)]="post.newComment" type="text" class="form-control form-control-sm" id="comment" 
                            placeholder="your feelings.." (keyup.enter)="postNewComment(newComment.value, post)" #newComment>
                        <span *ngIf="post.newComment"  class="input-group-btn">
                            <button class="btn btn-primary" (click)="saveComment(newComment.value, post)" type="button">Go!</button>
                        </span>
                    </div>
                </div>           
            </div>
        </div> 
    </div>
</div>
<span id="goToTop" *ngIf="!searchText" style="color: #ffffff; " class="btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-arrow-up"></span> Top
</span>
<span id="btnLoadMoreStories" *ngIf="!searchText"  (click)="fetchNextFiftyStories()" class="btn btn-xs"
    style="background-color: rgb(175, 42, 124);color: #ffffff;width:60px;margin-left:39%;">
    Read on..
</span>


    <!-- <div class="modal" id="modalEditComment" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Post</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="myCommentForm" (ngSubmit)="editComment(formComment.value)" #formComment="ngForm">
                            
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea type="text" required [formControl]="myCommentForm.controls['commentText']" class="form-control"
                                 id="editCommentText" [value]="editCommentModel ? editCommentModel.text : ''"></textarea>
                            </div>
                            <div class="form-group" style="margin-top:10px;">                            
                                <button class="btn btn-warning" [disabled]="!myCommentForm.valid"  type="submit" data-target="#modalEditComment" data-toggle="modal">
                                    Save</button>
                                <span class="btn btn-primary" (click)="cancelCommentEditing()" type="submit" id="btnCancelEditComment" data-target="#modalEditComment" data-toggle="modal">
                                    Cancel</span>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        
    <!-- <div class="modal" id="modalEditPost" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Post</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="myForm" (ngSubmit)="editPost(f.value)" #f="ngForm">
                            <div class="form-group">
                                <label for="Username">Title:</label>
                                <input type="text" required [formControl]="myForm.controls['title']" maxlength="80" placeholder="Title"
                                 class="form-control" [value]="editPostModel ? editPostModel.title : ''" id="editPostTitle" />
                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea type="text" required [formControl]="myForm.controls['content']" class="form-control"
                                 id="editPostContent" [value]="editPostModel ? editPostModel.content : ''"></textarea>
                            </div>
                            <div class="form-group" style="margin-top:10px;">                            
                                <button class="btn btn-warning" [disabled]="!myForm.valid" type="submit" data-target="#modalEditPost" data-toggle="modal">
                                    Save</button>
                                <span class="btn btn-primary" (click)="editPostFormCancel()" type="button" id="btnCancelEditPost" data-target="#modalEditPost" data-toggle="modal">
                                    Cancel</span>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
<!-- <div class="modal" id="modalNewPost" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-primary">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Post</h4>
                </div>
                <div class="modal-body">
                    <form class="form" [formGroup]="myForm" (ngSubmit)="createPost(f.value)" #f="ngForm">
                        <span class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-camera"></span></span>
                        <div class="form-group">  
                            <label for="Username">Title:</label>
                            <textarea type="text" required style="height: 60px;" [formControl]="myForm.controls['title']" maxlength="80"
                             placeholder="Title" class="form-control" id="newPostTitle"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Content:</label>
                            <textarea type="text" required  style="height: 120px;" [formControl]="myForm.controls['content']" class="form-control" id="newPostContent" 
                             placeholder="What's on your mind.."></textarea>
                        </div>
                        <div class="form-group hidden">
                            <label for="pwd">Date</label>
                            <input type="text" required [formControl]="myForm.controls['createdAt']" class="form-control" id="date" />
                        </div>
                        <div class="form-group" style="margin-top:10px;">                            
                            <button class="btn btn-success" [disabled]="!myForm.valid" type="submit" data-target="#modalNewPost" data-toggle="modal">
                                Create</button>
                            <span class="btn btn-primary" type="button" (click)="resetPostForm()" id="btnCancelPost" data-target="#modalNewPost" data-toggle="modal">
                                Cancel</span>                                
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
 
  
<!-- <h4>Posts page</h4>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <button class="alert alert-warning text-center"><h4>Posts</h4></button>
        </div>            
    </div>
</div>
<div class="col-sm-4" *ngIf="!userPosts" class="alert alert-warning">
    <p>It looks like you have no posts, please create one..</p>
</div>
<button class="btn btn-primary" (click)="createPost()">Create Post</button>
<div>
    <ul>
       <li *ngFor="let p of userPosts | async">
            <p>{{p.title}}</p>
        </li> 
    </ul>


<div class="input-group">
        <div type="text" class="form-control alert-danger text-center" placeholder="Search">Posts</div>
        <div class="input-group-btn">
            <button type="button" data-target="#modalNewPost" data-toggle="modal" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> New Post</button>
        </div>        
    </div>

</div> -->