<div class="col-xs-12 col-sm-6  col-md-5  col-lg-4">
  <h3>Registration Form</h3>
  
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control"
                   formControlName="username" required >  
        </div>
        <div class="form-group">
            <label for="eamil">Email</label>
            <input id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (keyup)="checkEmailExist(email.value)"
                     class="form-control" formControlName="email" required #email > 
            <small *ngIf="EmailAlreadyExists" class="text text-danger"><b>Email already exists</b></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password"
                required validateEqual="confirmPassword" reverse="true" (keyup)="passwordStrengthValidate(pwd.value)" #pwd> 
            <small class="text text-danger" *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched">
                <b>Minimum length required is 8 characters.</b>
            </small>
            <small class="text text-danger" *ngIf="myForm.controls['password'].hasError('maxlength') && myForm.controls['password'].touched">
                <b>Maximum length allowed is 12 characters.</b>  
            </small>
            <span *ngIf="pwdStrength == 'weak'" class="help-block">
                <span class="text text-warning"><b>Weak Password </b></span>
                <!-- (inlcude a special char [!@#$*], 0-9, a-z, A-Z) -->
            </span>
            <span *ngIf="pwdStrength == 'medium'" class="help-block">
                <span class="text text-primary"><b>Medium Password</b></span>
            </span>
            <span *ngIf="pwdStrength == 'strong'" class="help-block">
                <span class="text text-success"><b>Strong Password</b></span>
            </span>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword"
                 required validateEqual="password">
        <small *ngIf="myForm.controls['confirmPassword'].hasError('validateEqual')" class="text text-danger">
            <b>Passwords do not match</b>
        </small>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="Male" formControlName="gender" />
                    Male
                </label>
                <label>
                    <input type="radio" name="gender" value="Female" formControlName="gender" />
                    Female
                </label>
            </div>
        </div>
        <div class="form-group" style="margin-top:10px;">
            <button type="submit" class="btn btn-warning" [disabled]="!myForm.valid">Register</button>
            <!-- <span class="btn btn-primary" data-target="#modalRegisterNote" data-toggle="modal">
                <span class="glyphicon glyphicon-info-sign"></span> Note</span> -->
        </div>
  </form>
  <div class="modal" id="modalRegisterNote" tabindex="-1">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header text-primary">
                  <button class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Email for registration</h4>
              </div>
              <div class="modal-body">
                    <P>
                        Firebase is configured for using only one email address per account, so if same email address 
                        is used for different social accounts like facebook, twitter or gmail, register/login using that 
                        email address will link into a single account. And once logged in with any provider, it will 
                        not allow to login with same email address for a different provider.
                        <br />
                        Or, you can try any arbitary email address like <strong><code>welcome@welcome.com</code></strong>
                    </P>
              </div>
          </div>
      </div>
  </div>

</div>
<div class="col-xs-12 col-sm-3" style="margin-top:20px;">
    <ul *ngIf="!myForm.valid" class="list-group">
        <li *ngIf="myForm.controls['username'].hasError('required') && myForm.controls['username'].touched"class="list-group-item  list-group-item-danger" >Name is required</li>
        <li *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched"class="list-group-item  list-group-item-danger" >Email is required</li>
        <li *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched"class="list-group-item  list-group-item-danger" >Password is required</li>
        <!-- <li *ngIf="myForm.controls['password'].errors.minlength && myForm.controls['password'].touched"class="list-group-item  list-group-item-danger" >Password minimum length is 6</li> -->
        <li *ngIf="myForm.controls['confirmPassword'].hasError('required') && myForm.controls['confirmPassword'].touched"class="list-group-item  list-group-item-danger" >Confirm Password is required</li>
        <li *ngIf="myForm.controls['gender'].hasError('required') && myForm.controls['gender'].touched"class="list-group-item  list-group-item-danger" >Gender is required</li>
        <li  *ngIf="registerErrorMessage" class="alert alert-danger" role="alert">{{registerErrorMessage}}</li>
        </ul>       
        <ul *ngIf="registerErrorMessage" class="list-group">               
                <li class="alert alert-danger" role="alert">{{registerErrorMessage}}</li>
        </ul>  
</div>

<!-- <div class="form-group"  [ngClass]="{'has-error':!myForm.controls['username'].valid && myForm.controls['username'].touched}">
    <label for="Username">Name</label>
    <input type="text" [formControl]="myForm.controls['username']" class="form-control" id="username" />
</div> -->